{% block title %}{% endblock %}

{% block body %}
	<!DOCTYPE html>
	<html
		lang="en">

		<!-- Mirrored from doccure.dreamguystech.com/html/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Feb 2023 11:42:01 GMT -->
		<head>
			<meta charset="utf-8">
			<title>Dawini</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

			<link href="{{ asset('admin/assets/img/logo_small.png') }}" rel="icon">

			<link rel="stylesheet" href="{{ asset('login/assets/css/bootstrap.min.css') }}">

			<link rel="stylesheet" href="{{ asset('login/assets/plugins/fontawesome/css/fontawesome.min.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/plugins/fontawesome/css/all.min.css') }}">

			<link rel="stylesheet" href="{{ asset('login/assets/css/feather.css') }}">

			<link rel="stylesheet" href="{{ asset('login/assets/css/style.css') }}">
		</head>
		<body class="account-page">
			<div class="main-wrapper">
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8 offset-md-2">
								<div class="account-content">
									<div class="row align-items-center justify-content-center">
										<div class="col-md-7 col-lg-6 login-left">
											<img src="{{ asset('login/assets/img/user.webp') }}" class="img-fluid" alt="Doccure Login">
										</div>
										<div class="col-md-12 col-lg-6 login-right">
											<div class="login-header">
												<h3>Forgot Password
													<span>Dawini</span>
												</h3>
											</div>
											{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
											<section class="section register ">
												{% for message  in app.flashes('message') %}
													<div class="alert alert-danger">
														{{ message }}
													</div>
												{% endfor %}
											</section>
											<section class="section register ">
												{% for danger  in app.flashes('danger') %}
													<div class="alert alert-info">
														{{ danger }}
													</div>
												{% endfor %}
											</section>
										
										<div class="row">


											<div class="col-12 ">
												<div class="form-group local-forms">
													<label>Email<span class="login-danger">*</span>
													</label>
													{{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}

												</div>
											</div>


											<div class="col-12">
												<div class="doctor-submit text-end">
													<div class="col-12">
														<button class="btn btn-primary w-100" type="submit">Send</button>
													</div>

												</div>
											</div>
										</div>
										{{ form_end(form) }}
									</div>
								</div>
							</div>
						</div>


					</div>
					<script data-cfasync="false" src="https://doccure.dreamguystech.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
					<script src="{{asset('login/assets/js/jquery-3.6.0.min.js') }}"></script>
					<script src="{{ asset('login/assets/js/bootstrap.bundle.min.js') }}"></script>
					<script src="{{ asset('login/assets/js/feather.min.js') }}"></script>
					<script src="{{ asset('login/assets/js/script.js') }}"></script>
				</body>
			</html>
		{% endblock %}

	</body>
</html>

