{% block title %}{% endblock %}

{% block body %}
	<!DOCTYPE html>
	<html
		lang="en">

		<!-- Mirrored from doccure.dreamguystech.com/html/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 08 Feb 2023 11:42:01 GMT -->
		<head>
			<meta charset="utf-8">
			<title>Dawini</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
			<link href="{{ asset('admin/assets/img/logo_small.png') }}" rel="icon">
			<link rel="stylesheet" href="{{ asset('admin/assets/css/owl.carousel.min.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/plugins/fontawesome/css/fontawesome.min.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/plugins/fontawesome/css/all.min.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/css/feather.css') }}">
			<link rel="stylesheet" href="{{ asset('login/assets/css/style.css') }}">
		</head>
		<body class="account-page">
			<div class="onboard-wrapper">
				<div class="left-panel">
					<div class="onboarding-logo text-center">
						<h1 style="color:white">DAWINI</h1>
					</div>
					<div class="onboard-img">
						<img src="{{ asset('login/assets/img/onboard-img/onb-slide-img.png')}}" class="img-fluid" alt="">
					</div>
					<div class="onboarding-slider">
						<div id="onboard-slider" class="owl-carousel owl-theme onboard-slider slider">
							<div class="onboard-item text-center">
								<div class="onboard-content">
									<h3>Bienvenue A Dawini</h3>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
																																								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="right-panel">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 p-0">
								<div class="right-panel-title text-center">
									<a href="index.html">
										<img src="assets/img/onboard-img/onb-logo.png" alt=""></a>
								</div>
							</div>
				
							<div class="col-lg-12 col-md-12">
								<div class="onboarding-content-box content-wrap">
									<div class="onborad-set">
										<div class="onboarding-title">
											<h1 style="color: #0c4f8a"><span>Inscription</span>
											</h1>
											<h6></h6>
										</div>
										<div class="onboarding-content">
											<div class="row">
												{{ form_start(registrationForm,{'attr':{'novalidate':'novalidate'}}) }}
												<div class="row">


												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>Nom
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.nom,
													{attr:{'class':'form-control'}}) }}
													{% if form_errors(registrationForm.nom) is not empty %}
													<div class="alert alert-danger" {{ form_errors(registrationForm.nom) }} </div>
														{% endif %}
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>Prenom
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.prenom,
													{attr:{'class':'form-control'}}) }}
													{% if form_errors(registrationForm.prenom) is not empty %}
													<div class="alert alert-danger" {{ form_errors(registrationForm.prenom) }}
														</div>
														{% endif %}
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>Email
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.email,
													{attr:{'class':'form-control'}}) }}
													{% if form_errors(registrationForm.email) is not empty %}
													<div class="alert alert-danger" {{ form_errors(registrationForm.email) }}
														</div>
														{% endif %}
													</div>
												</div>

												
												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>Carte D'identité
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.cin,
													{attr:{'class':'form-control'}}) }}
													{% if form_errors(registrationForm.cin) is not empty %}
													<div class="alert alert-danger" {{ form_errors(registrationForm.cin) }}
														</div>
														{% endif %}
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>Titre
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.titre, {attr:{'class':'form-control'}}) }}
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>Sexe
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.sexe, {attr:{'class':'form-control'}}) }}
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>Telephone
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.telephone,
													{attr:{'class':'form-control'}}) }}
													{% if form_errors(registrationForm.telephone) is not empty %}
													<div class="alert alert-danger" {{ form_errors(registrationForm.telephone) }}
														</div>
														{% endif %}
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>Telephone Fixe
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.fixe,
													{attr:{'class':'form-control'}}) }}
													{% if form_errors(registrationForm.fixe) is not empty %}
													<div class="alert alert-danger" {{ form_errors(registrationForm.fixe) }}
														</div>
														{% endif %}
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>Cnam
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.cnam, {attr:{'class':'form-control'}}) }}
													</div>
												</div>

												<div class="col-12 col-md-6 col-xl-6">
													<div class="form-group local-forms">
														<label>Gouvernorat<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.gouvernorat, {attr:{'class':'form-control'}}) }}
													</div>
												</div>
												<div class="col-12 col-md-6 col-xl-6">
													<div class="form-group local-forms">
														<label>Specialites<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.specialites, {attr:{'class':'form-control'}}) }}
													</div>
												</div>

												
												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>
															Password
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.password, {attr:{'class':'form-control'}}) }}

													</div>
												</div>
												
												<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>Confirme Password
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.confirm_password, {attr:{'class':'form-control'}}) }}
													</div>
												</div>
														<div class="col-12 col-md-6 col-xl-4">
													<div class="form-group local-forms">
														<label>
															Tarif
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.tarif,
													{attr:{'class':'form-control'}}) }}
													{% if form_errors(registrationForm.tarif) is not empty %}
													<div class="alert alert-danger" {{ form_errors(registrationForm.tarif) }}
														</div>
														{% endif %}

													</div>
												</div>


												<div class="col-12 col-sm-12">
													<div class="form-group local-forms">
														<label>Address
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.adresse,
													{attr:{'class':'form-control'}}) }}
													{% if form_errors(registrationForm.adresse) is not empty %}
													<div class="alert alert-danger" {{ form_errors(registrationForm.adresse) }}
														</div>
														{% endif %}
													</div>
												</div>
												
												<div class="col-12 col-sm-12">
													<div class="form-group local-forms">
														<label>Addresse Cabinet
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.adresse_cabinet,
													{attr:{'class':'form-control'}}) }}
													{% if form_errors(registrationForm.adresse_cabinet) is not empty %}
													<div class="alert alert-danger" {{ form_errors(registrationForm.adresse_cabinet) }}
														</div>
														{% endif %}
													</div>
												</div>
												<div class="col-12 col-sm-12">
													<div class="form-group local-forms">
														<label>Diplome et Formation
															<span class="login-danger">*</span>
														</label>
														{{ form_widget(registrationForm.diplome_formation,
													{attr:{'class':'form-control'}}) }}
													{% if form_errors(registrationForm.diplome_formation) is not empty %}
													<div class="alert alert-danger" {{ form_errors(registrationForm.diplome_formation) }}
														</div>
														{% endif %} 
													</div>
												</div>

												<div class="col-12 col-sm-12">
													<div class="form-group local-forms">
														<div class="upload-img">
															<div class="change-photo-btn">
																<span>
																	<i class="fa fa-upload"></i>
																	Upload Photo</span>

																{{ form_widget(registrationForm.photo, {attr:{'class':'upload'}}) }}
															</div>
														</div>
													</div>
												
																																		                                                            
												</div>
 <div class="form-group">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="custom_check mr-2 mb-0"> I agree to the <a href="#"
                                                class="text-primary"> terms of service</a> and <a href="#"
                                                class="text-primary">privacy policy</a>
                                           
											{{ form_widget(registrationForm.agreeTerms, {attr:{'class':'custom_check mr-2 mb-0'}}) }}
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

												<div class="col-12">
													<div class="doctor-submit text-end">
														<div class="text-right">
															{{ form_row(registrationForm.Enregistrer , {attr:{'class':'btn btn-primary save-btn'}}) }}
														</div>

													</div>
												</div>
											</div>
												{{ form_end(registrationForm) }}
											</div>
										</div>
									</div>

								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</body>


		<script data-cfasync="false" src="https://doccure.dreamguystech.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
		<script src="{{asset('login/assets/js/jquery-3.6.0.min.js') }}"></script>
		<script src="{{ asset('login/assets/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('login/assets/js/feather.min.js') }}"></script>
		<script src="{{ asset('login/assets/js/script.js') }}"></script>


		<script src="{{ asset('login/assets/js/owl.carousel.min.js')}}"></script>


	</html>
{% endblock %}
