{% extends 'base.html.twig' %}
{% block title %}Patients
{% endblock %}
{% block content %}
	<div class="page-wrapper">
		<div class="content container-fluid pb-0">
			<h4 class="mb-3">Patients</h4>
			<div class="row">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col-md-12 d-flex justify-content-end">
							<div class="text-right"></div>
						</div>
					</div>
				</div>
				<div class="card">
					<table class="table datatable-basic table table-borderless hover-table" id="datatable">
						<div class="card-body">
							<div class="header-elements">
								<thead class="thead-light">
									
									<th>Email</th>
									<th>Nom</th>
									<th>Prenom</th>
									<th>Sexe</th>
									<th>Telephone</th>
									<th>Gouvernorat</th>
									<th>Adresse</th>
									<th>photo</th>
									<th>actions</th>
								</thead>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								{% if user.roles == ["ROLE_PATIENT"]%}
									<tr>
										
										<td>{{ user.email }}</td>
										<td>{{ user.nom }}</td>
										<td>{{ user.prenom }}</td>
										<td>{{ user.sexe }}</td>
										<td>{{ user.telephone }}</td>
										<td>{{ user.gouvernorat }}</td>
										<td>{{ user.adresse }}</td>
										<td>
											<img src="{{ asset('/uploads/'~user.image) }}" alt="" width="70" height="70"/>
										</td>
										<td style="display: inline-flex;">

												<a href="{{ path('app_patient_show', {'id': user.id}) }}" class="btn btn-sm bg-primary-light">
													<i class="far fa-eye"></i>

												</a>
												{% if is_granted('ROLE_MEDECIN') %}
												&nbsp;
												<a href="{{ path('app_patient_edit', {'id': user.id}) }}" class="btn btn-sm bg-info-light">
													<i class="far fa-edit"></i>

												</a>
												
												&nbsp;
												{{ include('patient/_delete_form.html.twig') }}
												{% endif %}
											</td>
											
										</tr>
										{% endif %}
								{% else %}
									<tr>
										<td colspan="20">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	{% endblock %}

	