{% extends 'basedashboard.html.twig' %}
{% block title %}
	Asisstant
{% endblock %}
{% block content %}
	<div class="col-lg-8 col-md-16">
		<div class="content container-fluid pb-0">
			<h4 class="mb-3">Assistant</h4>
			<div class="row">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col-md-12 d-flex justify-content-end">
							<div class="text-right">
								
								{# {% if is_granted('ROLE_MEDECIN') %} #}
					<a class="btn btn-primary btn-add" style="width:190px" href="{{ path('app_assistant_new') }}">
									<i class="feather-plus-square me-1"></i>
									Ajouter Assistant
								</a>
				{# {% endif %} #}
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<table class="table datatable-basic table table-borderless hover-table" id="datatable">
						<div class="card-body">
							<div class="header-elements">
								<thead class="thead-light">
									<th>Nom</th>
									<th>Prenom</th>
									<th>Email</th>
									<th>Gouvernorat</th>
									<th>Adresse</th>
									<th>
										<center>Medecin</center>
									</th>
									<th>Photo</th>
									
									<th colspan="3">
										<center>Actions</center>
									</th>
								</thead>
								<tbody>

									{% for user in assistant %}
									{% if user.roles ==["ROLE_ASSISTANT"]%}
										<tr>
											<td>{{ user.nom }}</td>
											<td>{{ user.prenom }}</td>
											<td>{{ user.email }}</td>
											<td>{{ user.gouvernorat }}</td>
											<td>{{ user.adresse }}</td>
												<td>{{ user.medecin }}</td>
											<td>

											 <img src="{{ asset('/uploads/'~user.image) }}" alt="" width="70" height="70" /> 
											</td>
											<td style="display: inline-flex;">

												<a href="{{ path('app_assistant_show', {'id': user.id}) }}" class="btn btn-sm bg-primary-light">
													<i class="far fa-eye"></i>

												</a>
												{% if is_granted('ROLE_MEDECIN') %}
												&nbsp;
												<a href="{{ path('app_assistant_edit', {'id': user.id}) }}" class="btn btn-sm bg-info-light">
													<i class="far fa-edit"></i>

												</a>
												
												&nbsp;
												{{ include('assistant/_delete_form.html.twig') }}
												{% endif %}
											</td>
											
										</tr>
										{%endif%}
									{% else %}
										<tr>
											<td colspan="20">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
	</div>
{% endblock %}

