{% extends 'basedashboard.html.twig' %}
{% block title %}
	Profile
{% endblock %}
{% block content %}
	<div class="col-lg-8 col-md-16">
		<div class="onboarding-content-box">
			<div class="onboarding-title profile-title">
				<h2>Changer Votre Mot de Passe
					
				</h2>
			</div>
			<div class="onboarding-content passcode-wrap mail-box">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							{{ form_start(form) }}
							{% if app.session.flashBag.has('success') %}
								<div class="alert alert-success alert-dismissible fade show" role="alert">
									{{ app.session.flashBag.get('success')[0] }}
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							{% endif %}
								<div class="container">
							<div class="row">
								<div class="col">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="onboarding-lable">Mot De Passe
											</label>
											{{ form_widget(form.password, {attr:{'class':'form-control'}}) }}
										</div>
									</div>
								</div>


							</div>
						</div>
						<div class="container">
						<div class="row">
								<div class="col">
									<div class="col-lg-12">
										<div class="form-group">
											<label class="onboarding-lable">Confirmer Mot De Passe
											</label>
											{{ form_widget(form.confirm_password, {attr:{'class':'form-control'}}) }}
										</div>
									</div>
								</div>


							</div>
						</div>

							<div class="col-12">
					<div class="doctor-submit text-end">
						<div class="text-right">
							{{ form_row(form.Enregistrer , {attr:{'class':'btn btn-primary save-btn'}}) }}
						</div>

					</div>
				</div>
				               {{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

